body {
    box-sizing: border-box;
    background-color: #d4cbd2;
    height: 100vh;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

button {
    background-color: #e8202e;
    color: white;
    border: 3px solid #0c001c;
    border-radius: 3px;
    font-size: 24px;
    width: 200px;
    height: 60px;
}

button:hover {
    background-color: #9142ff;
}

button:active {
    font-size: 24px;
    background-color: #b37dff;
}

#set-grid-button {
    padding: 8px;
}

.main-container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.header {
    margin-top: 12px;
    color: #0c001c;
    background-color: #e8202e;
    font-size: 36px;
    padding: 8px;
    border: 3px solid black;
    border-radius: 3px;
    color: white;
}

.grid-container {
    background-color: #e8202e;
    border: 3px solid black;
    border-radius: 3px;
    height: 640px;
    width: 640px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.grid-container div {
    margin: 0;
    width: 40px;
    height: 40px;
    background-color: #f5f2df;
}
.button-container {
    display: flex;
    justify-content: center;
    width: 600px;
    gap: 16px;
}