body {
    box-sizing: border-box;
    background-color: #e8d8d8;
    height: 100vh;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

button {
    background-color: #cc0606;
    color: white;
    border: 3px solid #0c001c;
    border-radius: 3px;
    font-size: 24px;
    width: 200px;
    height: 60px;
    transition: 100ms;
}

button:hover {
    transform: scale(1.1)
}

button:active {
    position: relative;
    top: 2px;
}

#set-grid-button {
    padding: 12px;
}

.main-container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.header {
    margin-top: 12px;
    color: #0c001c;
    background-color: #cc0606;
    font-size: 32px;
    padding: 12px;
    border: 3px solid black;
    border-radius: 3px;
    color: white;
}

.grid-container {
    background-color: #cc0606;
    border: 3px solid black;
    border-radius: 3px;
    height: 600px;
    width: 600px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.grid-container div {
    margin: 0;
    background-color: #f5f2df;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 600px;
    gap: 16px;
}